<div class="dishes-category">
    {{#each dishesCategory}}
    <div class="dishes-category__categories">
        <h2 class="dishes-category__categories__title">{{ this.title }}</h2>
        <div class="dishes-category__categories__items">
            {{#each this.dishes}}
            {{> ../DishCard/DishCard }}
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>