.icon-button {
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color: index.$green;
    border-width: 0;
    cursor: not-allowed;
}

.icon-button__icon {
    width: 75%;
    height: 75%;
    margin: auto auto;
}