<div id="main">
    <div id="navbar"></div>
    <div class="cart" id="cart">
        <h1>Корзина</h1>
        <div class="cart__content">
            <div class="cart__content__goods"></div>
            <div class="cart__content__control">
                <div class="cart__content__control__address">
                    {{> ../AddressChooser/AddressChooser }}
                </div>
                <div class="cart__content__control__payment">
                    {{> ../PaymentChooser/PaymentChooser }}
                </div>
                <div class="cart__content__control__payment-approve">
                    <h2 class="cart__content__control__payment-approve__title">Сумма заказа {{ orderSum }}₽</h2>
                    <button class="cart__content__control__payment-approve__approve button__primary-green"
                        type="button">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>
</div>