// Цвета

:root {
    --gray: #333;
    --darkest-middle-gray: #737373;
    --darker-middle-gray: #808080;
    --middle-gray: #8c8c8c;
    --darkest-light-gray: #ebebeb;
    --darker-light-gray: #f0f0f0;
    --light-gray: #f6f6f6;
    --yellow: #ff9900;
    --white: #fff;
    --green: #54c45f;
    --darker-green: #41be4e;
    --darkest-green: #3bab46;
    --red: #da4747;
    --black: #000;
}
