// Шрифты

:root {
    --font-size-one: 2rem;
    --font-size-two: 1.5rem;
    --font-size-three: 1.17rem;
    --font-size-four: 1rem;
    --font-size-five: 0.83rem;
    --font-size-six: 0.67rem;

    font-family: Comfortaa;
    font-weight: bold;
}
