// Класс инпута и textarea определяющий: цвет, шрифт, паддинги, display

.input-with-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@mixin input-style($border: 1px solid var(--gray)) {
    border-radius: 17px;
    border: $border;
}

.input-with-msg__input {
    display: flex;
    height: 44px;
    padding: 10px 10px 10px 25px;
    align-items: center;
    width: 100%;

    color: var(--gray);
    font-family: Comfortaa;
    font-size: var(--font-size-two);

    &_default {
        @extend .input-with-msg__input;
        @include input-style;
    }

    &_error {
        @extend .input-with-msg__input;
        @include input-style($border: 1px solid var(--red));
    }
}

.input-with-msg__msg {
    display: flex;

    width: 100%;

    font-family: Comfortaa;
    font-size: var(--font-size-three);

    &__default {
        @extend .input-with-msg__msg;
        color: var(--gray);
    }

    &_error {
        @extend .input-with-msg__msg;
        color: var(--red);
    }
}
