.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    z-index: 99998;

    background-color: rgba(0, 0, 0, 0.3);

    overflow-y: auto;

    visibility: hidden;
    opacity: 0;

    transition:
        opacity 0.3s,
        visibility 0.3s;
}

.modal__box {
    position: relative;
    margin: auto;

    border-radius: 45px;
    padding: 45px;
    margin: 30px 15px;

    background-color: var(--white);
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);

    transform: scale(0);

    transition: transform 0.3s;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}
