.order-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.order-list__title {
    font-size: var(--font-size-one);
    text-align: center;
    @media screen and (min-width: 641px) {
        text-align: left;
    }
}

.order-list__items {
    height: 60vh;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-list__items__empty-message {
    text-align: center;
    @media screen and (min-width: 641px) {
        margin: auto;
    }
}

.order-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding-right: 10px;
    padding-left: 10px;

    border-radius: 17px;
    cursor: pointer;

    &:hover {
        background-color: var(--darkest-light-gray);
    }
}

.order-list__item__order-info {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.order-list__item__order-info__order-num {
    display: flex;
    align-items: center;
}

.order-list__item__order-info__order-sum {
    display: flex;
    align-items: center;
}

.order-list__item__order-status {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    margin: 0;
    color: var(--green);
}
