.category-switch {
    display: flex;
    justify-content: flex-start !important;
    gap: 25px;

    height: 44px;

    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.category-switch__title {
    margin: 0;
    min-width: 15%;
}

.category-switch__switch {
    display: flex;
    gap: 5px;
    border: 1px solid var(--gray);
    padding: 5px;
    border-radius: 17px;
}

.category-switch__switch__category {
    font-size: var(--font-size-two);
    padding: 10px;
    display: flex;
    align-items: center;

    cursor: pointer;
}

// .category-switch__switch__category_selected {
//     color: var(--white);
//     background-color: var(--gray);
//     border-radius: 17px;
// }
