<div class="modal" id="order-widget">
    <div class="order-widget modal__box">
        <button class="order-widget__close" id="order-widget__close" type="button">
            <img class="order-widget__close__img" src="img/Cross.svg" alt="" srcset="">
        </button>
        <div class="order-widget__header">
            <h2 class="order-widget__header__title" id="order-number">Заказ #HHH</h2>
            <h2 class="order-widget__header__delivery-time" id="delivery-time">Ожидаемое время доставки</h2>
            <h2 class="order-widget__header__status" id="order-status">Статус заказа</h2>
        </div>
        <div class="order-widget__order">
            <div class="order-widget__order__products" id="products"></div>
            <h2 class="order-widget__order__sum" id="sum"></h2>
        </div>
    </div>
</div>