<div class="cart__content__control__payment">
    <form class="payment-chooser" id="form">
        <h2 class="payment-chooser__title">Способ оплаты</h2>
        <div class="payment-chooser__courier-cash radio-chooser">
            <input class="radio-chooser__radio" type="radio" name="payment-type" id="courier-cash"
                value="courier-cash" />
            <label class="radio-chooser__label" for="courier-cash">Наличными
                курьеру</label>
        </div>
        <div class="payment-chooser__courier-card radio-chooser">
            <input class="radio-chooser__radio" type="radio" name="payment-type" id="courier-card"
                value="courier-card" />
            <label class="radio-chooser__label" for="courier-card">Картой
                курьеру</label>
        </div>
        <div class="payment-chooser__online-card">
            <div class="radio-chooser">
                <input class="radio-chooser__radio" type="radio" name="payment-type" id="online-card"
                    value="online-card" />
                <label class="radio-chooser__label" for="online-card">Картой
                    онлайн</label>
            </div>
            <div class="payment-chooser__online-card__card-data">
                <input class="payment-chooser__online-card__card-data__card-number input-with-msg__input_default" type="text"
                    name="card-nubmer" id="card-number" placeholder="Номер карты" />
                <div class="payment-chooser__online-card__card-valid-thru-cvv">
                    <input class="payment-chooser__online-card__card-data__card-valid-thru input-with-msg__input_default"
                        type="text" name="card-valid-thru" id="card-valid-thru" placeholder="Срок действия" />
                    <input class="payment-chooser__online-card__card-data__card-cvv input-with-msg__input_default"
                        type="password" name="card-cvv" id="card-cvv" placeholder="CVV" />
                </div>
            </div>
        </div>
        <div class="cart__content__control__payment-approve">
            <h2 class="cart__content__control__payment-approve__title">Сумма
                заказа:</h2>
            <input class="cart__content__control__payment-approve__approve button_primary-green" value="Оформить заказ"
                type="submit" />
        </div>
    </form>
</div>