@use "../../../../../public/index.scss" as index;
@use "../../../shared/ui/Button/Button.scss" as button;

.cart__content__control__payment {
    width: 100%;
}

.payment-chooser {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    font-family: "Comfortaa";
}

.payment-chooser__title {
    display: flex;
    align-items: flex-start;
    align-self: stretch;

    margin: 0;
}

.radio-chooser {
    display: flex;
    gap: 20px;
    width: 100%;
}

.payment-chooser__online-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.payment-chooser__online-card__card-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.payment-chooser__online-card__card-data__card-number {
    display: flex;
    height: 65px;
    width: 100%;
    padding: 10px 10px 10px 25px;
    border-radius: 17px;

    font-family: "Comfortaa";
    font-size: 17px;
}

.payment-chooser__online-card__card-valid-thru-cvv {
    display: flex;
    width: 100%;
    border-radius: 17px;
    justify-content: space-between;
}

.payment-chooser__online-card__card-data__card-valid-thru {
    display: flex;
    width: 70%;
    height: 65px;
    padding: 10px 10px 10px 25px;
    border-radius: 17px;

    font-family: "Comfortaa";
    font-size: 17px;
}

.payment-chooser__online-card__card-data__card-cvv {
    display: flex;
    height: 65px;
    width: 25%;
    padding: 10px 10px 10px 25px;
    border-radius: 17px;

    font-family: "Comfortaa";
    font-size: 17px;
}

.cart__content__control__payment-approve {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;

    padding-top: 15px;
}

.cart__content__control__payment-approve__sum {
    display: flex;
    align-items: flex-start;
    align-self: stretch;

    margin: 0;
}

.cart__content__control__payment-approve__delivery {
    display: flex;
    align-items: flex-start;
    align-self: stretch;

    margin: 0;
}

.cart__content__control__payment-approve__error {
    display: flex;
    align-items: flex-start;
    align-self: stretch;

    color: red;
    font-size: 17px;
    min-height: 20px;

    margin: 0;
}

.cart__content__control__payment-approve__approve {
    display: flex;
    height: 50px !important;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    @include button.button-style(
        $color: index.$gray,
        $background-color: index.$green,
        $border: none
    );

    border-radius: 17px;
    font-family: "Comfortaa";
    font-size: 15px;
    font-weight: 700;
}
