<div class="cart__content__control__payment">
    <form class="payment-chooser" id="form">
        <h2 class="payment-chooser__title">Способ оплаты</h2>
        <div class="payment-chooser__courier-cash radio-chooser">
            <input class="radio-chooser__radio" type="radio" name="payment-type" id="courier-cash" value="courier-cash"
                checked />
            <label class="radio-chooser__label" for="courier-cash">Наличными
                курьеру</label>
        </div>
        <div class="payment-chooser__courier-card radio-chooser">
            <input class="radio-chooser__radio" type="radio" name="payment-type" id="courier-card"
                value="courier-card" />
            <label class="radio-chooser__label" for="courier-card">Картой
                курьеру</label>
        </div>
        <div class="payment-chooser__online-card">
            <div class="radio-chooser">
                <input class="radio-chooser__radio" type="radio" name="payment-type" id="online-card"
                    value="online-card" />
                <label class="radio-chooser__label" for="online-card">Картой
                    онлайн</label>
            </div>
            <div class="payment-chooser__online-card__card-data">
                <input class="payment-chooser__online-card__card-data__card-number" type="text" name="card-nubmer"
                    id="card-number" placeholder="Номер карты" autocomplete="cc-number" pattern="\d{16,16}" disabled
                    required />
                <div class="payment-chooser__online-card__card-valid-thru-cvv">
                    <input class="payment-chooser__online-card__card-data__card-valid-thru" type="text"
                        name="card-valid-thru" id="card-valid-thru" placeholder="Срок действия" autocomplete="cc-exp"
                        pattern="\d{2,2}/\d{2,2}" disabled required />
                    <input class="payment-chooser__online-card__card-data__card-cvv" type="password" name="card-cvv"
                        id="card-cvv" placeholder="CVV" autocomplete="cc-csc" pattern="\d{3,3}" disabled required />
                </div>
            </div>
        </div>
        <div class="cart__content__control__payment-approve">
            <h2 class="cart__content__control__payment-approve__sum" id="cart__sum">Сумма
                заказа:</h2>
            <h2 class="cart__content__control__payment-approve__delivery" id="cart__delivery">Сумма
                доставки:</h2>
            <div class="cart__content__control__payment-approve__error" id="cart__error"></div>
            <input class="cart__content__control__payment-approve__approve" value="Оформить заказ" type="submit" />
        </div>
    </form>
</div>