<div id="cart_page">
    <div id="navbar"></div>
    <div class="cart">
        <h1>Корзина</h1>
        <div class="cart__content">
            <div class="cart__content__goods">
            </div>
            <div class="cart__content__control"></div>
        </div>
    </div>
    <div id="address"></div>
</div>
