@use "../../../shared/ui/Button/Button.scss" as button;
@use "../../../../../public/index.scss" as index;

.cart-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-item__info {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.cart-item__info__icon {
    width: 20%;
    aspect-ratio: 1/1;

    object-fit: contain;
}

.cart-item__info__name {
    display: flex;
    width: 40%;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 700;
}

.cart-item__info__count-control {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 30%;
    justify-content: center;
}

.cart-item__info__count-control__button {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    @include button.button-style(
        $color: index.$gray,
        $background-color: index.$green,
        $border: none
    );

    border-radius: 17px;
}

.cart-item__info__count-control__count {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
}

.cart-item__price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-size: 17px;
    font-weight: 700;
}

.empty-cart__title {
    margin: auto;
}

.cart__content {
    width: 100%;
}
