<div id="comments-list" class="restaurant-comments__comments-list">
    <button class="restaurant-comments__comments-list__close" id="comments-list__close">
        <img class="restaurant-comments__comments-list__close__img" src="img/Cross.svg" alt="">
    </button>
    <div class="restaurant-comments__comments-list__title">Отзывы</div>
    <div class="restaurant-comments__comments-list__comments-list" id="comments">

    </div>
    <div class="restaurant-comments__comments-list__comment-button">
        <button class="restaurant-comments__comments-list__comment-button__button" id="make-comment"
            type="button">Оставить отзыв</button>
    </div>
</div>