<form id="comment-from" class="restaurant-comments__comment-form">
    <button class="restaurant-comments__comment-form__close" type="button" id="comment-form__close">
        <img class="restaurant-comments__comment-form__close__img" src="img/Cross.svg" alt="">
    </button>
    <button class="restaurant-comments__comment-form__back" type="button" id="comment-form__back">
        <img class="restaurant-comments__comment-form__back__img" src="img/ArrowBack.svg" alt="">
    </button>
    <h1 class="restaurant-comments__comment-form__title">
        Оставить отзыв
    </h1>
    <div class="restaurant-comments__comment-form__rating">
        <div class="restaurant-comments__comment-form__rating__title">
            <span class="restaurant-comments__comment-form__rating__title__name">Оценка</span>
            <span class="restaurant-comments__comment-form__rating__title__must">*</span>
            <span class="restaurant-comments__comment-form__rating__title__error" id="comment-form__error"></span>
        </div>
        <div class="restaurant-comments__comment-form__rating__stars">
            <input class="restaurant-comments__comment-form__rating__stars__input" type="radio" name="rating" id="5"
                value="5">
            <label class="restaurant-comments__comment-form__rating__stars__star" for="5"></label>

            <input class="restaurant-comments__comment-form__rating__stars__input" type="radio" name="rating" id="4"
                value="4">
            <label class="restaurant-comments__comment-form__rating__stars__star" for="4"></label>

            <input class="restaurant-comments__comment-form__rating__stars__input" type="radio" name="rating" id="3"
                value="3">
            <label class="restaurant-comments__comment-form__rating__stars__star" for="3"></label>

            <input class="restaurant-comments__comment-form__rating__stars__input" type="radio" name="rating" id="2"
                value="2">
            <label class="restaurant-comments__comment-form__rating__stars__star" for="2"></label>

            <input class="restaurant-comments__comment-form__rating__stars__input" type="radio" name="rating" id="1"
                value="1">
            <label class="restaurant-comments__comment-form__rating__stars__star" for="1"></label>

        </div>
    </div>
    <div class="restaurant-comments__comment-form__comment">
        <div class="restaurant-comments__comment-form__comment__title">Расскажите подробнее</div>
        <textarea class="restaurant-comments__comment-form__comment__text" name="comment" id="comment" cols="30"
            rows="10" placeholder="Комментарий"></textarea>
    </div>
    <button class="restaurant-comments__comment-form__submit" type="submit">Отправить</button>
</form>