<form id="comment-from" class="restaurant-comments__comment-form">
    <button class="restaurant-comments__comment-form__close" id="comments-list__close">
        <img class="restaurant-comments__comment-form__close__img" src="img/Cross.svg" alt="">
    </button>
    <button class="restaurant-comments__comment-form__back" id="comments-list__back">
        <img class="restaurant-comments__comment-form__back__img" src="img/ArrowBack.svg" alt="">
    </button>
    <h1 class="restaurant-comments__comment-form__title">
        Оставить отзыв
    </h1>
    <div class="restaurant-comments__comment-form__rating">
        <div class="restaurant-comments__comment-form__rating__title">Оценка</div>
        <div class="restaurant-comments__comment-form__rating__stars">
            <img class="restaurant-comments__comment-form__rating__stars__star" src="img/gold_star.svg" alt="">
            <img class="restaurant-comments__comment-form__rating__stars__star" src="img/gold_star.svg" alt="">
            <img class="restaurant-comments__comment-form__rating__stars__star" src="img/gold_star.svg" alt="">
            <img class="restaurant-comments__comment-form__rating__stars__star" src="img/gold_star.svg" alt="">
            <img class="restaurant-comments__comment-form__rating__stars__star" src="img/gold_star.svg" alt="">
        </div>
    </div>
    <div class="restaurant-comments__comment-form__comment">
        <div class="restaurant-comments__comment-form__comment__title">Расскажите подробнее</div>
        <textarea class="restaurant-comments__comment-form__comment__text" name="comment" id="comment" cols="30"
            rows="10" placeholder="Комментарий"></textarea>
    </div>
    <button class="restaurant-comments__comment-form__submit" type="submit">Отправить</button>
</form>