@use "../../../../../public/index.scss" as index;
@use "../../../shared/ui/Button/Button.scss" as button;

@mixin control-button {
    position: absolute;
    height: 15px;
    width: 15px;

    background: none;
    border: none;

    cursor: pointer;
}

@mixin control-button-img {
    height: 100%;
    object-fit: contain;
}

.restaurant-comments {
    width: 740px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.restaurant-comments__comments-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 100%;
}

.restaurant-comments__comments-list__close {
    @include control-button();

    top: 25px;
    left: 697px;
}

.restaurant-comments__comments-list__close__img {
    @include control-button-img();
}

.restaurant-comments__comments-list__title {
    display: flex;
    justify-content: flex-start;

    margin: 0;

    width: 100%;
}

.restaurant-comments__comments-list__comments-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.restaurant-comments__comments-list__comments-list__comment {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.restaurant-comments__comments-list__comments-list__comment__info {
    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
}

.restaurant-comments__comments-list__comments-list__comment__info__profile {
    display: flex;
    align-items: center;
    gap: 5px;

    width: 30%;
}

.restaurant-comments__comments-list__comments-list__comment__info__profile__icon {
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 40%;
    border-radius: 50%;
}

.restaurant-comments__comments-list__comments-list__comment__info__profile__name {
    display: flex;

    font-size: 17px;
    font-weight: 600;

    width: 60%;
}

.restaurant-comments__comments-list__comments-list__comment__info__rating {
    display: flex;
    align-items: center;
    gap: 5px;

    width: 15%;
}

.restaurant-comments__comments-list__comments-list__comment__info__rating__star {
    object-fit: contain;
    width: 15%;
    aspect-ratio: 1/1;
}

.restaurant-comments__comments-list__comments-list__comment__info__rating__value {
    display: flex;
    font-size: 17px;
    font-weight: 600;
}

.restaurant-comments__comments-list__comments-list__comment__info__date {
    width: 20%;

    color: #b4b4b4;
    font-size: 17px;
    font-weight: 600;
}

.restaurant-comments__comments-list__comments-list__comment__text {
    display: flex;
    padding-left: 10px;

    word-break: break-all;

    width: 100%;
}

.restaurant-comments__comments-list__comment-button {
    display: flex;

    gap: 5px;

    width: 100%;
}

.restaurant-comments__comments-list__comment-button__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 44px;

    @include button.button-style(
        $color: index.$gray,
        $background-color: index.$green,
        $border: none
    );

    border-radius: 17px;
    font-family: "Comfortaa";
    font-size: 15px;
    font-weight: 600;
}

.restaurant-comments__comments-list__comment-button__error {
    display: flex;
    align-items: center;

    width: 60%;

    font-size: 13px;
    color: red;
}

.restaurant-comments__comment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.restaurant-comments__comment-form__close {
    @include control-button();
    top: 25px;
    left: 697px;
}

.restaurant-comments__comment-form__close__img {
    @include control-button-img();
}

.restaurant-comments__comment-form__back {
    @include control-button();
    top: 25px;
    left: 25px;
}

.restaurant-comments__comment-form__back__img {
    @include control-button-img();
}

.restaurant-comments__comment-form__title {
    display: flex;
    justify-content: center;

    margin: 0;

    width: 100%;
}

.restaurant-comments__comment-form__rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 5px;

    width: 100%;
}

.restaurant-comments__comment-form__rating__title {
    display: flex;
    justify-content: flex-start;

    width: 100%;
}

.restaurant-comments__comment-form__rating__title__name {
    font-size: 17px;
    font-weight: 700;
}

.restaurant-comments__comment-form__rating__title__must {
    font-size: 17px;
    font-weight: 700;
    color: red;
}

.restaurant-comments__comment-form__rating__title__error {
    display: flex;
    align-items: center;

    margin-left: 15px;
    font-size: 13px;
    color: red;
}

.restaurant-comments__comment-form__rating__stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    gap: 5px;

    width: 100%;
}

.restaurant-comments__comment-form__rating__stars__star {
    width: 5%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.restaurant-comments__comment-form__rating__stars__input {
    display: none;
}

.restaurant-comments__comment-form__rating__stars:not(:checked) > label {
    content: url("http://localhost:4000/img/gray_star.svg");
}

.restaurant-comments__comment-form__rating__stars > input:checked ~ label {
    content: url("http://localhost:4000/img/gold_star.svg");
}

.restaurant-comments__comment-form__rating__stars:not(:checked) > label:hover,
.restaurant-comments__comment-form__rating__stars:not(:checked)
    > label:hover
    ~ label {
    content: url("http://localhost:4000/img/gold_star.svg");
}

.restaurant-comments__comment-form__rating__stars > input:checked + label:hover,
.restaurant-comments__comment-form__rating__stars
    > input:checked
    + label:hover
    ~ label,
.restaurant-comments__comment-form__rating__stars > input:checked ~ label:hover,
.restaurant-comments__comment-form__rating__stars
    > input:checked
    ~ label:hover
    ~ label,
.restaurant-comments__comment-form__rating__stars
    > label:hover
    ~ input:checked
    ~ label {
    content: url("http://localhost:4000/img/gold_star.svg");
}

.restaurant-comments__comment-form__comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 5px;

    width: 100%;
}

.restaurant-comments__comment-form__comment__title {
    display: flex;
    justify-content: flex-start;

    font-size: 17px;
    font-weight: 700;

    width: 100%;
}

.restaurant-comments__comment-form__comment__text {
    display: flex;
    justify-content: flex-start;

    border-radius: 17px;
    border: 1px solid index.$gray;
    padding: 10px 10px 10px 25px;

    font-family: "Comfortaa";
    font-size: 17px;
    font-weight: 700;

    width: 100%;
}

.restaurant-comments__comment-form__submit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 44px;

    @include button.button-style(
        $color: index.$gray,
        $background-color: index.$green,
        $border: none
    );

    border-radius: 17px;
    font-family: "Comfortaa";
    font-size: 17px;
    font-weight: 600;
}
