.cart__content__control__payment {
    display: flex;
    flex-direction: column;

    gap: 20px;

    width: 100%;

    position: sticky;
    top: 50px;
}

.cart__content__control__payment__address {
    display: flex;
    flex-direction: column;

    gap: 10px;

    width: 100%;
}

.cart__content__control__payment__address__label {
    display: flex;

    font-size: var(--font-size-two);

    width: 100%;
}

.cart__content__control__payment__address__input-control {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.cart__content__control__payment__address__input-control__input {
    width: 60%;
}

.cart__content__control__payment__address__input-control__button {
    width: 30%;
    font-size: var(--font-size-three);
}

.payment-chooser {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.payment-chooser__title {
    font-size: var(--font-size-two);
}

.payment-chooser__title {
    display: flex;
    align-items: flex-start;
    align-self: stretch;

    margin: 0;
}

.radio-chooser {
    display: flex;
    gap: 20px;
    width: 100%;
}

.radio-chooser__label {
    font-size: var(--font-size-three);
}

.payment-chooser__online-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.payment-chooser__online-card__card-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    transition: all 0.3s ease-out;
}

.hide-input {
    height: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.input-transition {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.payment-chooser__online-card__card-data__card-number {
}

.payment-chooser__online-card__card-valid-thru-cvv {
    display: flex;
    width: 100%;
    border-radius: 17px;
    justify-content: space-between;
}

.payment-chooser__online-card__card-data__card-valid-thru {
    width: 65%;
}

.payment-chooser__online-card__card-data__card-cvv {
    width: 20%;
}

.cart__content__control__payment-approve {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;

    padding-top: 15px;
}

.cart__content__control__payment-approve__error {
    color: var(--red);
    min-height: 19px;
    font-size: var(--font-size-four);
}

.cart__content__control__payment-approve__sum,
.cart__content__control__payment-approve__delivery {
    display: flex;
    align-items: flex-start;
    align-self: stretch;

    font-size: var(--font-size-two);

    margin: 0;
}

.cart__content__control__payment-approve__approve {
    font-size: var(--font-size-three);
    width: 100%;
}
