.cart {
    display: flex;
    flex-direction: column;

    gap: 20px;

    margin: 0 auto;
}

.cart__title {
    font-size: var(--font-size-one);
}

.cart__content {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 641px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.cart__content__goods {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    @media screen and (min-width: 641px) {
        width: 47.5%;
    }
}

.cart__content__control {
    display: flex;

    width: 100%;
    @media screen and (min-width: 641px) {
        width: 47.5%;
    }

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cart__content__control__payment {
    width: 100%;
}
