.cart__content__control__payment {
    width: 100%;
}

.payment-chooser {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.radio-chooser {
    display: flex;
    gap: 20px;
    width: 100%;
}

.payment-chooser__online-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.payment-chooser__online-card__card-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.payment-chooser__online-card__card-data__card-number {
    height: 65px;
    width: 100%;
}

.payment-chooser__online-card__card-valid-thru-cvv {
    display: flex;
    width: 100%;
    border-radius: 17px;
    justify-content: space-between;
}

.payment-chooser__online-card__card-data__card-valid-thru {
    width: 70%;
    height: 65px;
}

.payment-chooser__online-card__card-data__card-cvv {
    height: 65px;
    width: 25%;
}

.cart__content__control__payment-approve {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.cart__content__control__payment-approve__title {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.cart__content__control__payment-approve__approve {
    height: 50px;
    width: 100%;
}
