<div class="dish-card">
    <img class="dish-card__image" src="{{ Icon }}" alt="" srcset="">
    <div class="dish-card__info">
        <div class="dish-card__info__text">
            <div class="dish-card__info__text__price">{{ Price }}₽</div>
            <div class="dish-card__info__text__dish-name">{{ Name }}</div>
        </div>
        <button class="button_primary-green" type="button">+ В козрзину</button>
    </div>
</div>