.button__primary {
    display: inline-flex;
    height: 44px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 17px;
    background: #333;

    color: #FFF;
    font-family: Comfortaa;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button__secondary {
    display: inline-flex;
    height: 44px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 17px;
    background-color: #FFF;
    border: 1px solid #333;

    color: #333;
    font-family: Comfortaa;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button__primary-green {
    display: inline-flex;
    height: 65px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 17px;
    background: #51C35D;

    color: #333;
    font-family: Comfortaa;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}