.change-restaurant {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-content: center;

    gap: 10px;
}

.change-restaurant__close {
    position: absolute;
    top: 25px;
    left: 534px;

    height: 15px;
    width: 15px;

    background: none;
    border: none;

    cursor: pointer;
}

.change-restaurant__close__img {
    height: 100%;
    object-fit: contain;
}

.change-restaurant__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 20px;

    width: 100%;
}

.change-restaurant__form__title {
    display: flex;

    font-size: 17px;
    font-weight: 700;

    width: 100%;
}

.change-restaurant__form__text {
    display: flex;

    font-size: 17px;
    font-weight: 500;

    width: 100%;
}

.change-restaurant__form__submit {
}
