.change-restaurant {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-content: center;

    gap: 10px;

    @media screen and (max-width: 461px) {
        height: 15%;        
    }
}

.change-restaurant__close {
    top: 25px;
    right: 30px;
}

.change-restaurant__close__img {
}

.change-restaurant__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 20px;

    width: 100%;
}

.change-restaurant__form__title {
    display: flex;

    font-size: var(--font-size-three);

    width: 100%;
}

.change-restaurant__form__text {
    display: flex;

    font-size: var(--font-size-four);
    font-weight: 500;

    width: 100%;
}

.change-restaurant__form__submit {
    font-size: var(--font-size-four);
}
