<div class="profile">
    <div class="profile__header">
        <img class="profile__header__image" src="{{ profileImage }}" alt="" srcset="">
        <h1 class="profile__header__username">{{ userName }}</h1>
    </div>
    <div class="profile__control">
        <div class="profile__control__field">
            <h2 class="profile__control__field__name">Email</h2>
            <input class="profile__control__field__value" type="text" name="emai" id="email" value="{{ email }}">
        </div>
        <div class="profile__control__field">
            <h2 class="profile__control__field__name">Дата рождения</h2>
            <input class="profile__control__field__value" type="text" name="birthday" id="birthday"
                value="{{ birthday }}">
        </div>
    </div>
    <button class="button_primary-green" type="button">Сохранить</button>
</div>