.tips__title {
    margin: 0;
    margin-bottom: 20px;
    min-width: 15%;
    font-size: var(--font-size-one);
}

div#js_restaurant_tips {
    margin-top: 20px;
    margin-bottom: 40px;
}

.restaurant-tips {
    margin: auto;
}
