<div class="modal" id="change-restaurant">
    <div class="change-restaurant modal__box">
        <button class="change-restaurant__close control-button" id="change-restaurant__close" type="button">
            <img class="change-restaurant__close__img control-button__img" src="img/Cross.svg" alt="" srcset="">
        </button>
        <form class="change-restaurant__form" id="change-restaurant__form">
            <div class="change-restaurant__form__title" id="new-restaurant">Оформить заказ из ресторана ###</div>
            <div class="change-restaurant__form__text" id="old-restaurant">Все ранее добавленные блюда из ресторанa ###
                будут удалены из
                корзины</div>
            <button class="change-restaurant__form__submit button_primary-green" type="submit">Продолжить</button>
        </form>
    </div>
</div>