<div id="address-chooser" class="modal">
    <div class="address-chooser modal__box">
        <h2 class="address-chooser__title">Адрес доставки</h2>
        <form class="address-chooser__form">
            <input
                class="address-chooser__control__input"
                type="text"
                name="address-value"
                id="address-value"
            />
            <button
                class="address-chooser__control button__primary"
                id="choose-address"
                type="button"
            >
                <p class="address-chooser__control__title">Изменить</p>
            </button>
        </form>
        <div class="suggest-container">
        </div>
    </div>
</div>
