<div id="address-chooser" class="modal">
    <div class="address-chooser modal__box">
        <button class="address-chooser__close control-button" id="address-chooser__close" type="button">
            <img class="address-chooser__close__img control-button__img" src="img/Cross.svg" alt="" srcset="">
        </button>
        <h2 class="address-chooser__title">{{title}}</h2>
        <form class="address-chooser__form">
            <div class="address-chooser__input">
                <input class="address-chooser__control__input input-with-msg__input_default" id="address-value"
                    type="text" name="address-value" placeholder="{{input_ph}}" />
                <input class="address-chooser__control button_primary-green" id="choose-address" type="submit"
                    value="{{button_text}}" />
            </div>
            <div class="address-chooser__error_msg input-with-msg__msg_error">
                {{error_message}}
            </div>
        </form>
        <div class="suggest-container">
        </div>
    </div>
</div>