<div class="restaurants-categories">
    <h1 class="restaurants-categories__title">Рестораны</h1>
    {{#each restaurantsCategories}}
    <div class="restaurants-categories__categories">
        <h2 class="restaurants-categories__categories__title">{{ this.title }}</h2>
        <div class="restaurants-categories__categories__items">
            {{#each this.restaurants}}
            {{> ../RestaurantCard/RestaurantCard }}
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>