<header class="header">
    <img src="img/logo.svg" alt="Logo" class="logo">
    <div class="header__title">
        <form class="search gray_bordered_white">
            <input class="nosubmit" type="search" placeholder="{{search_ph}} ...">
        </form>
        <button class="address gray_bordered_white" type="button" value="">
            <img src="img/gps.svg" alt="">
            <p class="address_title">{{address}}</p>
        </button>
        <button class="person gray_bordered_white" type="button" value="">
            <img src="img/person.svg" alt="">
        </button>
        <button class="backet gray_bordered_white" type="button" value="">
            <img src="img/shop_basket.svg" alt="">
        </button>
    </div>
</header>
