$gray: #333;
$middle-gray: #888;
$light-gray: #f6f6f6;
$yellow: #ff9900;
$white: #fff;
$green: #51c35d;
$red: #da4747;
$black: #000;

$font-family: "Comfortaa";
$font-size: 15px;

html {
    box-sizing: border-box;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $font-family;
    font-weight: 300;
}
