.restaurants-categories {
    display: flex;
    margin: auto;
    width: 100%;
}

// .restaurants-categories__title {
//     display: flex;
//     align-items: flex-start;
//     align-self: stretch;
// }

// .restaurants-categories__categories {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 35px;
//     align-self: stretch;
// }

// .restaurants-categories__categories__title {
//     display: flex;
//     align-items: flex-start;
//     align-self: stretch;
//     margin: 0;
// }
