<div id="main">
    <div id="navbar"></div>
    <div class="restaurant-widget container">
        <h1 id="title"></h1>
        <div id="categories"></div>
    </div>
    <div id="login_modal"></div>
    <div id="address_modal"></div>
</div>
