<div id="main">
    <div id="navbar"></div>
    <div id="restaurant-header"></div>
    <div id="categories"></div>
    <div id="login_modal"></div>
    <div id="address_modal"></div>
    <div id="restaurant_comments"></div>
</div>