#title {
    padding-bottom: 30px;
    padding-top: 10px;
}

#main {
    padding-bottom: 3em;
}

.restaurant-widget {
    width: 100%;
    padding-left: 115px;
    padding-right: 115px;
    margin: 0 auto;
}
