.restaurant_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 190px;
    justify-content: space-around;
    background-color: var(--light-gray-color);
    border-radius: 20px;

    cursor: pointer;
}

.title_image {
    width: 253px;
    height: 133px;

    border-radius: 20px;
    margin: 0 auto;
}

.delivery_info {
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 700;
    word-wrap: break-word;
    color: var(--middle-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_rating {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word
}

.title_rating h2 {
    display: inline;
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word
}

.rating {
    display: flex;
}

.rating_ {
    display: inline;
    margin: 0;
}

.rating_container {
    margin: auto 0;
    padding-top: 2px;
}
