<div class="dropdown_content js_address_dropdown disabled">
    <div
        class="dropdown_content__element__wrapper js_dropdown_content__add_button"
    >
        <div class="dropdown_content__element__text">Добавить адрес</div>
        <img class="dropdown_content__element__img" src="img/plus.svg" />
    </div>
    <div
        class="dropdown_content__address_container js_address_dropdown__content"
    ></div>
</div>
