
$image-size: 90px;

.search-result__items {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2%;
    align-self: stretch;
    flex-wrap: wrap;
}

.search-result__restaurant {
    display: inline-flex;
    max-width: 100%;
    transition: .2s ease opacity;
    align-items: center;
    vertical-align: top;
    cursor: pointer;
}

.search-result__restaurant-image {
    object-fit: cover;
    width: $image-size;
    height: $image-size;
    border-radius: 30px;
}

.search-result__restaurant-info {
    margin-left: 20px;
    max-width: calc(100% - $image-size);
}

.search-result__restaurant-info__title {
    margin: 0 0 10px 0;
}

.search-result__subtitle__meta {
    margin-right: 12px;
}

.search-result__subtitle__category {
    margin-right: 8px;
}

.search-result__items {
    margin-top: 16px;
}

.search-result {
    margin-bottom: 48px;
}

.search-results {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 90%;
}

.search-result__subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pointer-card {
    cursor: pointer;
}
