<div class="page" id="login-page">
    <div class="login-signup-form__control">
        <img class="login-signup-form__control__back visibility-hidden" id="login-page__back" src="img/ArrowBack.svg"
            alt="" srcset="">
        <img class="login-signup-form__control__close" id="login-page__close" src="img/Cross.svg" alt="" srcset="">
    </div>
    <div class="login-signup-form__header">
        <img class="login-signup-form__header__logo" src="img/Принеси&Подай.svg" alt="Закрыть" srcset="">
        <div class="login-signup-form__header__title">Войдите, чтобы сделать заказ</div>
    </div>
    <form class="login-signup-form__form" id="login-signup-form">
        <div class="login-signup-form__form__input-container">
            <div class="login-signup-form__form__input-container__msg" id="login-page__msg"></div>
            <div class="input-with-msg">
                <input class="input-with-msg__input_default" type="text" name="username" id="login-page__username"
                    placeholder="имя пользователя" value="" autocomplete="username">
                <div class="input-with-msg__msg_error"></div>
            </div>
            <div class="input-with-msg">
                <input class="input-with-msg__input_default" type="password" name="password" id="login-page__password"
                    placeholder="пароль" value="" autocomplete="current-password">
                <div class="input-with-msg__msg_error"></div>
            </div>
        </div>
        <div class="login-signup-form__form__button-container">
            <button class="button_primary" type="submit" id="login-page__submit">Войти</button>
            <button class="button_secondary" type="button" id="login-page__reg">Зарегистрироваться</button>
        </div>
    </form>
</div>