@use "../../../public/index.scss" as index;

.navbar {
    margin: 0 auto;
    min-height: 88px;
    background-color: index.$light-gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar__logo {
    cursor: pointer;
}

.navbar__fields {
    width: 712px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar__fields__search {
    width: 380px;
    height: 44px;
    border-radius: 17px;
    align-items: center;
    display: flex;
    border-style: solid;
    border-width: 1px;
}

.navbar__fields__search__input {
    width: 100%;
    height: 100%;
    padding: 9px 4px 9px 51px;
    background: transparent url("../../img/glass.svg") no-repeat 12px 6px;
    border: none;
    color: index.$gray;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
    line-height: 35px;
    font-family: index.$font-family;

    cursor: not-allowed;

    &:focus {
        border: none;
        outline: none;
    }
}

.navbar__fields__address {
    width: 280px;
    height: 44px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    box-shadow: none;
    border-width: 1px;
    justify-content: flex-start;
    cursor: pointer;
    font-family: index.$font-family;
}

.navbar__fields__address__icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.navbar__fields__address__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: index.$gray;
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
    display: inline;
    margin-left: 10px;
}

.navbar__fields__backet {
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color: index.$green;
    border-width: 0;
}

.navbar__fields__backet__icon {
    width: 25px;
    height: 28px;
}

.navbar__signin {
    width: 123px;
    height: 44px;
    border-radius: 17px;
    background-color: index.$green;
    border-width: 0;
    cursor: pointer;
}

.navbar__signin__title {
    font-size: 17px;
    font-weight: 600;
    word-wrap: break-word;
    display: inline;
    font-family: index.$font-family;
}

.navbar__name-container {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-evenly;
}

.navbar__name-container__name {
    display: inline;
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word;
    font-family: index.$font-family;
    cursor: pointer;
}

.navbar__name-container__exit {
    width: 44px;
    height: 44px;
    border-radius: 17px;
    background-color: index.$green;
    border-width: 0;
    cursor: pointer;
}

.navbar__name-container__exit__icon {
    width: 25px;
    height: 40px;
    margin: auto auto;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.4s,
        visibility 0.4s;
}

.modal__box {
    position: relative;
    border-radius: 45px;
    max-height: 600px;
    width: 740px;
    padding: 45px;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}
