<div class="modal" id="exit-submiter">
    <div class="exit-submiter modal__box">
        <button class="exit-submiter__close" id="exit-submiter__close" type="button">
            <img class="exit-submiter__close__img" src="img/Cross.svg" alt="" srcset="">
        </button>
        <form class="exit-submiter__form" id="exit-submiter__form">
            <div class="exit-submiter__form__title">Подтвердите выход</div>
            <div class="exit-submiter__form__text">Вы действительно хотите выйти?</div>
            <button class="exit-submiter__form__submit button_primary-green" type="submit">Выйти :(</button>
        </form>
    </div>
</div>