<div id="login" class="loginform-formwindow">
    <img class="login-close" src="img/Cross.svg" alt="" srcset="">
    <div class="loginform-header">
        <img src="img/Принеси&Подай.svg" alt="" srcset="">
        <div class="loginform-text">Войдите, чтобы сделать заказ</div>
    </div>
    <form class="loginform-form" action="#">
        <div class="loginform-inputgroup">
            <div class="loginform-error-msg"></div>
        </div>
        <div class="loginform-control">
        </div>
    </form>
</div>