<div class="login-form" id="login">
    <img class="login-form__close" id="close" src="img/Cross.svg" alt="" srcset="">
    <div class="login-form__header">
        <img class="login-form__header__logo" src="img/Принеси&Подай.svg" alt="Закрыть" srcset="">
        <div class="login-form__header__title">Войдите, чтобы сделать заказ</div>
    </div>
    <form class="login-form__form" id="form">
        <div class="login-form__form__input-container" id="input-container">
            <div class="login-form__form__input-container__msg" id="msg"></div>
        </div>
        <div class="login-form__form__button-container" id="button-container">
        </div>
    </form>
</div>