<div id="login_form" class="loginform-formwindow">
    <div class="loginform-header">
        <img src="img/Принеси&Подай.svg" alt="" srcset="">
        <div class="loginform-text">Создайте аккаунт</div>
    </div>
    <form class="loginform-form" action="#">
        <div class="loginform-inputgroup">
            <input type="text" class="loginform-input" name="username" id="username" placeholder="Имя пользователя">
            <input type="password" class="loginform-input" name="password" id="password" placeholder="Пароль">
        </div>
        <div class="loginform-control">
            <button type="submit" class="loginform-submit">Войти</button>
            <a href="#" class="loginform-auth">Зарегистрироваться</a>
        </div>
    </form>
</div>
