<form class="address-form">
    <h1 class="address-form__title">Адрес доставки</h1>
    <div class="address-form__fields">
        <div class="address-from__fields__first-field-row">
            <div class="address-from__fields__field-row__input">
                <h3 class="input__title">Город</h3>
                <input class="input__field" type="text" name="city" id="city">
            </div>
            <div class="address-from__fields__field-row__input">
                <h3 class="input__title">Улица</h3>
                <input class="input__field" type="text" name="street" id="street">
            </div>
        </div>
        <div class="address-from__fields__second-field-row">
            <div class="address-from__fields__field-row__input">
                <h3 class="input__title">Дом</h3>
                <input class="input__field" type="text" name="house" id="house">
            </div>
            <div class="address-from__fields__field-row__input">
                <h3 class="input__title">Подъезд</h3>
                <input class="input__field" type="text" name="entrance" id="entrance">
            </div>
            <div class="address-from__fields__field-row__input">
                <h3 class="input__title">Этаж</h3>
                <input class="input__field" type="text" name="" id="">
            </div>
            <div class="address-from__fields__field-row__input">
                <h3 class="input__title">Квартира</h3>
                <input class="input__field" type="text" name="flat" id="flat">
            </div>
        </div>
        <div class="address-from__fields__comment">
            <h3 class="input__title">Комментарий</h3>
            <input class="input__field" type="text" name="comment" id="comment">
        </div>
    </div>
    <button type="button"></button>
</form>
