@use "../../../../../public/index.scss" as index;

.dish-card__controls {
    width: 100%;
}

.dish-card__base-button {
    display: flex;
    padding: 0;
    height: 50px;
    width: 100%;
    border-radius: 17px;
    border: none;
    align-items: center;
    font-family: index.$font-family;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dish-card__base-button.dish-card__controls__buttons {
    overflow: hidden;
    justify-content: space-between;
    font-size: 24px;
    color: index.$gray;
    background-color: index.$green;
}

.dish-card__base-button.dish-card__controls__up-button {
    justify-content: space-around;
    font-size: 20px;
    color: index.$gray;
    background-color: index.$green;
}

.dish-card__base-button.dish-card__controls__signin-button {
    justify-content: space-around;
    font-size: 15px;
    color: index.$white;
    background-color: index.$middle-gray;
}

.dish-card__controls__buttons .dish-card__controls__button {
    width: 40%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 32px;
}

.dish-card__controls__button {
    cursor: pointer;
}
