<div class="address-chooser">
    <h2 class="address-chooser__title">Адрес доставки</h2>
    <form class="address-chooser__control">
        <input class="address-chooser__control__input" type="text" name="address-value" id="address-value">
        <button class="address-chooser__control button__primary" id="chose-address" type="button">Изменить</button>
    </form>
</div>