.address-chooser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    align-self: stretch;
}

.address-chooser__title {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.address-chooser__control {
    display: flex;
    align-items: flex-start;
    gap: 27px;
}