<div class="category-switch__switch__category button_primary" id="Рестораны">
    Все
</div>
{{#each this}}
<div class="category-switch__switch__category" id="{{ this }}">
    {{ this }}
</div>
{{/each}}