<div class="category-switch container" id="category-switch">
    <h1 class="category-switch__title" id="switch__title"></h1>
    <div class="middle-wrapper">
        <div class="category-switch__switch" id="switch"></div>
    </div>
</div>
