.dishes-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 35px;

    width: 100%;
}

.dishes-category__categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.dishes-category__categories__title {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 0;
}

.dishes-category__categories__items {
}
