#signup {
    margin: 0 auto;
}

.signup-formwindow {
    display: flex;
    width: 598px;
    height: 810px;
    padding: 49px 65px 49px 65px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    flex-shrink: 0;

    border-radius: 55px;
    border: 1px solid #000;
    background: #FFF;
}

.signup-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.signup-text {
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    align-self: stretch;
}

.signup-inputgroup {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.signup-control {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}