<div id="signup" class="signup-formwindow">
    <img class="singup-close" src="img/Cross.svg" alt="" srcset="">
    <div class="signup-header">
        <img src="img/Принеси&Подай.svg" alt="Закрыть" srcset="">
        <div class="signup-text">Создайте аккаунт</div>
    </div>
    <form class="signup-form" action="#">
        <div class="signup-inputgroup">
        </div>
        <div class="signup-control">
        </div>
    </form>
</div>