<div id="regform" class="regform-formwindow">
    <div class="regform-header">
        <img src="img/Принеси&Подай.svg" alt="" srcset="">
        <div class="regform-text">Создайте аккаунт</div>
    </div>
    <form class="regform-form" action="#">
        <div class="regform-inputgroup">
            <input type="text" class="regform-input" name="emali" id="email" placeholder="email">
            <input type="text" class="regform-input" name="username" id="username" placeholder="Имя пользователя">
            <input type="password" class="regform-input" name="password" id="password" placeholder="Пароль">
            <input type="password" class="regform-input" name="password-confirm" id="password-confirm"
                placeholder="Повторите пароль">
        </div>
        <div class="regform-control">
            <button type="submit" class="regform-submit">Зарегистрироваться</button>
            <a href="#" class="regform-auth">Уже есть аккаунт?</a>
        </div>
    </form>
</div>
