<div id="login-page">
    <img class="login-form__control__close" id="close" src="img/Cross.svg" alt="" srcset="">
    <div class="login-form__header">
        <img class="login-form__header__logo" src="img/Принеси&Подай.svg" alt="Закрыть" srcset="">
        <div id="form-title" class="login-form__header__title">Войдите, чтобы сделать заказ</div>
    </div>
    <form class="login-form__form" id="form">
        <div class="login-form__form__input-container" id="input-container">
            <div class="login-form__form__input-container__msg" id="msg"></div>
            <div class="input-with-msg" id="input-div-username">
                <div class="input-with-msg__msg_default"></div>
                <input class="input-with-msg__input_default" type="text" name="username" id="username"
                    placeholder="имя пользователя" value="" autocomplete="off">
            </div>
            <div class="input-with-msg" id="input-div-password">
                <div class="input-with-msg__msg_default"></div>
                <input class="input-with-msg__input_default" type="password" name="password" id="password"
                    placeholder="пароль" value="" autocomplete="off">
            </div>
        </div>
        <div class="login-form__form__button-container" id="button-container">
            <button class="button_primary" type="button" id="submit">Войти</button>
            <button class="button_secondary" type="button" id="reg">Зарегистрироваться</button>
        </div>
    </form>
</div>