<div id="reg-extra-info-page">
    <div class="login-form__control">
        <img class="login-form__control__back" id="back" src="img/ArrowBack.svg" alt="" srcset="">
        <img class="login-form__control__close" id="close" src="img/Cross.svg" alt="" srcset="">
    </div>
    <div class="login-form__header">
        <img class="login-form__header__logo" src="img/Принеси&Подай.svg" alt="Закрыть" srcset="">
        <div id="form-title" class="login-form__header__title">Создайте аккаунт</div>
    </div>
    <form class="login-form__form" id="form">
        <div class="signup-form__form__input-container" id="input-container">
            <div class="signup-form__form__input-container__msg" id="msg"></div>
            <div class="input-with-msg" id="input-div-birthday">
                <div class="input-with-msg__msg_default"></div>
                <input class="input-with-msg__input_default" type="text" name="birthday" id="birthday"
                    placeholder="Дата рождения" value="" autocomplete="off">
            </div>
            <div class="input-with-msg" id="input-div-phone-number">
                <div class="input-with-msg__msg_default"></div>
                <input class="input-with-msg__input_default" type="tel" name="phone-number" id="phone-number"
                    placeholder="Номер телефона" value="" autocomplete="on">
            </div>
        </div>
        <div class="signup-form__form__button-container" id="button-container">
            <button class="button_primary" type="button" id="submit">Зарегистрироваться</button><button
                class="button_secondary" type="button" id="auth">Уже есть аккаунт?</button>
        </div>
    </form>
</div>