<div class="page" id="reg-extra-info-page">
    <button class="login-signup-form__back" id="reg-extra-info-page__back" type="button">
        <img class="login-signup-form__back__img" src="img/ArrowBack.svg" alt="" srcset="">
    </button>
    <button class="login-signup-form__close" id="reg-extra-info-page__close" type="button">
        <img class="login-signup-form__close__img" src="img/Cross.svg" alt="" srcset="">
    </button>
    <div class="login-signup-form__header">
        <img class="login-signup-form__header__logo" src="img/Принеси&Подай.svg" alt="Закрыть" srcset="">
        <div class="login-signup-form__header__title">Укажите дополнительную информацию</div>
    </div>
    <form class="login-signup-form__form" id="login-signup-form">
        <div class="login-signup-form__form__input-container">
            <div class="login-signup-form__form__input-container__msg" id="reg-extra-info-page__msg"></div>
            <div class="input-with-msg">
                <div class="input-with-msg__msg_default">Дата рождения</div>
                <input class="input-with-msg__input_default" type="date" name="birthday"
                    id="reg-extra-info-page__birthday" placeholder="" value="" autocomplete="bday">
                <div class="input-with-msg__msg_error login-signup-form__form__input-container__input-with-msg__msg"
                    id="reg-extra-info-page__birthday__msg"></div>
            </div>
            <div class="input-with-msg">
                <div class="input-with-msg__msg_default">Номер телефона</div>
                <input class="input-with-msg__input_default" type="tel" name="phone-number"
                    id="reg-extra-info-page__phone-number" placeholder="+79..." value="" autocomplete="tel">
                <div class="input-with-msg__msg_error login-signup-form__form__input-container__input-with-msg__msg"
                    id="reg-extra-info-page__phone-number__msg"></div>
            </div>
        </div>
        <div class="login-signup-form__form__button-container">
            <button class="button_primary" type="submit" id="reg-extra-info-page__submit">Зарегистрироваться</button>
            <button class="button_secondary" type="button" id="reg-extra-info-page__auth">Уже есть
                аккаунт?</button>
        </div>
    </form>
</div>