@use "../../../shared/ui/Button/Button.scss" as button;
@use "../../../../../public/index.scss" as index;

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 41px;

    width: 100%;
}

.profile-info__header {
    display: flex;
    gap: 55px;
    width: 100%;
}

.profile-info__header__image {
    width: 20%;
    aspect-ratio: 1/1;
}

.profile-info__header__image-chooser-label {
}

.profile-info__header__image-chooser {
}

.profile-info__header__username {
    display: flex;
    align-items: center;
    margin: 0;
}

.profile-info__control {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.profile-info__control__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-info__control__field__name {
    display: flex;
    align-items: center;
    margin: 0;
    width: 45%;
}

.profile-info__control__field__value {
    display: flex;
    width: 45%;
    height: 44px;
    padding: 10px 10px 10px 25px;

    border-radius: 17px;
    border: 1px solid index.$gray;

    color: index.$gray;
    font-family: Comfortaa;
    font-size: 17px;
}

.button_primary-green {
    display: flex;
    height: 50px;
    width: 100%;

    border-radius: 17px;
    @include button.button-style(
        $color: index.$gray,
        $background-color: index.$green,
        $border: none
    );
}
