<form class="profile-info" id="form">
    <div class="profile-info__header">
        <img class="profile-info__header__image" src="img/defIcon.png" alt="" srcset="">
        <h1 class="profile-info__header__username"></h1>
    </div>
    <div class="profile-info__control">
        <div class="profile-info__control__field">
            <h2 class="profile-info__control__field__name">Email</h2>
            <input class="profile-info__control__field__value" type="email" name="email" id="email" value=""
                placeholder="">
        </div>
        <div class="profile-info__control__field">
            <h2 class="profile-info__control__field__name">Дата рождения</h2>
            <input class="profile-info__control__field__value" type="date" name="birthday" id="birthday" value=""
                placeholder="">
        </div>
        <div class="profile-info__control__field">
            <h2 class="profile-info__control__field__name">Номер телефон</h2>
            <input class="profile-info__control__field__value" type="tel" name="phone-number" id="phone-number" value=""
                placeholder="">
        </div>
    </div>
    <button class="button_primary-green" type="submit">Сохранить</button>
</form>