<form class="profile-info" id="form">
    <div class="profile-info__header">
        <div class="profile-info__header__image">
            <img class="profile-info__header__image__image" id="icon" src="img/defIcon.png" alt="" srcset="">
            <div class="profile-info__header__image__container">
                <label class="profile-info__header__image__image-chooser-label">
                    <input class="profile-info__header__image__image-chooser" type="file" name="icon" id="icon-input"
                        accept=".jpg, .jpeg, .png">
                    <div>Изменить</div>
                </label>
            </div>
        </div>
        <h1 class="profile-info__header__username"></h1>
    </div>
    <div class="profile-info__control">
        <div class="profile-info__control__field">
            <h2 class="profile-info__control__field__name">Дата рождения</h2>
            <input class="profile-info__control__field__value" type="date" name="birthday" id="birthday" value=""
                placeholder="" disabled>
        </div>
        <div class="profile-info__control__field">
            <h2 class="profile-info__control__field__name">Email</h2>
            <input class="profile-info__control__field__value" type="email" name="email" id="email" value=""
                placeholder="">
        </div>
        <div class="profile-info__control__field">
            <h2 class="profile-info__control__field__name">Номер телефон</h2>
            <input class="profile-info__control__field__value" type="tel" name="phone-number" id="phone-number" value=""
                placeholder="">
        </div>
    </div>
    <button class="button_primary-green" type="submit">Сохранить</button>
</form>