.profile {
    flex-direction: column;
    gap: 40px;
}

.profile__content {
    display: flex;
    justify-content: space-between;
}

.profile__content__user-data {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.profile__content__orders {
    display: flex;
    width: 45%;
}
