<div id="profile_page">
    <div id="navbar"></div>
    <div class="profile container" id="profile">
        <h1 class="profile__title">Профиль</h1>
        <div class="profile__content">
            <div class="profile__content__user-data"></div>
            <div class="profile__content__orders"></div>
        </div>
    </div>
    <div id="address_chooser"></div>
</div>